// ========== flex ========== //
@mixin flex($inline: false, $direction: row, $wrap: nowrap, $justify: center, $align: center) {
  display: if($inline, inline-flex, flex);
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

// ========== icon ========== //
@mixin icon-custom($size) {
  width: $size + px;
  height: $size + px;
}

// ========== vw, vh ========== //
@function vw($value, $standard: 720) {
  @return calc($value / ($standard * 0.01)) + vw;
}
@function vh($value, $standard: 1280) {
  @return calc($value / ($standard * 0.01)) + vh;
}