@charset "UTF-8";

@import "~@/assets/css/variables";
@import "~@/assets/css/font";
@import "~@/assets/css/icon";
@import "~@/assets/css/mixin";
@import "~@/assets/css/reset";

html, body {
  font-family: $ptd !important;
}
#app {
  min-height: 100%;
}

.page {
  padding: 0 18px;
}

// ********** 공통 text style ********** //
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.text--green { color: $green; }

// ********** 공통 neumorphism ********** //
.nue--normal { box-shadow: -3px -3px 5px white, 2px 2px 5px rgba($navy, .5); }
.nue--float { box-shadow: -6px -6px 8px white, 4px 4px 8px rgba($navy, .4); }
.nue--inset { box-shadow: inset -3px -3px 5px white, inset 2px 2px 5px rgba($navy, .5); }
.nue--navy--inset { box-shadow: inset -3px -3px 5px rgba(white, .4), inset 2px 2px 5px rgba(black, .5); }


// ********** 공통 라운드 카드 ********** //
.common-card {
  border-radius: 12px;
}
// ********** 공통 보드 ********** //
.common-board {

  &:not(.board--escape) {
    @extend .common-card;
    @extend .nue--normal;
  }

  background-color: $pale;

  .board__title {
    @include flex(false, row, nowrap, flex-start, center);

    margin-bottom: 10px;
    
    .title__text {
      line-height: 32px;
      font-size: 18px;
      font-weight: $font-b;
    }
    .title__action-button {
      justify-self: flex-end;
      margin-left: auto;
      padding: 4px;
      background-color: unset;
    }
  }
}

// ********** 공통 input ********** //
.field__wrapper {
  width: 100%;

  &.field--has-button {
    position: relative;

    .common-field {
      padding-right: 40px;
    }

    .field__action-button {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translate(0, -50%);
      background-color: unset;
    }
    .change-password-view {
      right: 4px;
      padding: 8px;
    }
  }
}
.common-field {
  @extend .common-card;
  @extend .nue--inset;

  height: 45px;
  font-family: $ptd;
  font-size: 16px;
  color: $navy;
  line-height: 1;
  padding: 10px 16px;
  background-color: $pale;

  &:focus {
    outline: 2px solid $navy--opacity-05;
  }

  &::placeholder {
    color: $navy--opacity-05;
    font-weight: $font-r;
    line-height: 1;
  }
}

// ********** 공통 button ********** //
.common-button {
  @extend .common-card;
  @extend .nue--normal;
  @include flex;

  gap: 6px;
  padding: 8px 16px;
  min-height: 40px;
  font-family: $ptd;
  font-size: 16px;
  color: $navy;
  transition: all 0.3s ease;
  
  &.button--full {
    width: 100%;
  }
  &.button--escape {
    min-height: unset;
    padding: 0;
  }
  
  &:hover {
    @extend .nue--float;
  }
  &:active {
    @extend .nue--inset;
  }

  &.button--active {
    color: white; 
    background-color: $navy;

    &:active {
      @extend .nue--navy--inset;
    }
  }

  &:disabled,
  &.button--disabled {
    box-shadow: unset;
    color: $navy--opacity-05;
    background-color: rgba($navy, 0.1);
  }
}

// ********** 공통 form ********** //
.common-form {

  .form__actions {
    margin-top: 20px;
  }
}

// ********** 공통 달력 ********** //
.common-calendar {
  border: 0;
  font-family: $ptd !important;
  background-color: unset;

  .vc-header {
    margin-bottom: 12px;

    .vc-title {
      color: $navy;
    }
  }
  .vc-arrows-container {
    gap: 6px;
    padding: 10px;

    .vc-arrow {
      @extend .common-button;

      min-height: unset;
      padding: 0;

      &:hover {
        background-color: $pale;
      }
    }
    .vc-svg-icon {
      transform: scale(0.8);
    }
  }
  .vc-weekday {
    color: $navy--opacity-05;
  }
  .vc-day-content {
    color: $navy;

    &:hover {
      border-radius: 8px;
      background-color: rgba($pale-green, .5);
    }
  }
  // 날짜 터치시 하이라이트
  // 이벤트 적용했을 경우 언더바
  .vc-bars {
    width: 50%;
  }
}

// ********** Transition ********** //
// fade
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}
.v-enter-to,
.v-leave {
  opacity: 1;
}
// expand
.expandMini-enter-active,
.expandMini-leave-active {
  transition: max-height 0.3s;
}

.expandMini-enter,
.expandMini-leave-to {
  max-height: 0;
}

.expandMini-enter-to,
.expandMini-leave {
  max-height: 100px;
}