@use "sass:list";

$icon-list: null;

@function icon($name: "transparent", $color: $navy) {
  $color-value: str-slice("#{$color}", 2);

  $icon-list: (
    "transparent": transparent,
    "watury": "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='146' height='54' fill='none' viewBox='0 0 146 54'%3e%3cpath fill='%23#{$color-value}' d='M69.542 10.188h3.587v13.255c0 5.025 2.079 7.78 6.237 8.265.416.035.832.052 1.248.052 2.668 0 4.505-.866 5.51-2.6.485-.865.866-2.009 1.143-3.43l-1.403-.208c-.693 2.807-1.716 4.35-3.067 4.627a3.782 3.782 0 0 1-.624.052c-1.282 0-2.062-.902-2.339-2.704a7.896 7.896 0 0 1-.104-1.299l.078-16.01h6.784V8.837H79.73v-5.77l-6.6 1.091v4.679h-3.587v1.351Zm44.911 19.649h-1.767v-21h-9.149v1.351h2.547l-.052 13.1c-.242 2.702-1.23 4.487-2.963 5.353a3.655 3.655 0 0 1-1.559.364c-1.975 0-3.136-1.16-3.483-3.483a9.223 9.223 0 0 1-.104-1.403V8.837h-9.616v1.351h3.015v13.047c.07 5.614 2.547 8.438 7.433 8.473 3.119 0 5.493-1.386 7.121-4.159l.312-.623.26 4.262h9.253c0-.762-.208-1.195-.624-1.3a3.238 3.238 0 0 0-.624-.051Zm-51.149 1.871c2.53 0 4.107-.918 4.73-2.755.209-.693.364-1.577.468-2.651l-1.351-.052c-.208 2.391-.814 3.604-1.82 3.639-.762-.07-1.143-.936-1.143-2.6V16.427c0-4.332-2.01-7-6.03-8.005a14.854 14.854 0 0 0-3.378-.364c-4.713 0-7.676 1.022-8.889 3.067a3.179 3.179 0 0 0-.468 1.663c0 1.352.641 2.2 1.923 2.547.312.104.642.156.988.156 1.49 0 2.495-.728 3.015-2.183.07-.208.173-.555.312-1.04.381-1.386.866-2.252 1.455-2.599.382-.173.815-.26 1.3-.26 1.629 0 2.616.988 2.963 2.963.138.728.208 1.594.208 2.6v3.378c-8.906.173-13.377 2.53-13.411 7.07 0 3.084 1.351 5.059 4.054 5.925.797.243 1.68.364 2.651.364 2.946 0 5.112-1.109 6.498-3.327a7.44 7.44 0 0 0 .675-1.403c.728 2.98 2.478 4.557 5.25 4.73Zm-9.72-2.235c-1.733-.07-2.616-1.612-2.65-4.627 0-2.287.935-3.777 2.806-4.47 1.005-.312 2.287-.502 3.847-.572v5.043c-.659 2.425-1.716 3.915-3.171 4.47a2.67 2.67 0 0 1-.832.156ZM34.41 31.188l9.93-29.785h2.598V0h-8.577v1.403h4.159l-7.33 22.248-8.056-22.3 4.158.052V0h-12.06l3.951 10.24-5.093 13.88L9.93 1.403h4.158V0H0v1.403h2.599l9.98 25.783c.832 2.113 1.56 3.344 2.183 3.69.382.208.867.312 1.456.312h1.04l6.86-18.609 5.615 14.607c.831 2.113 1.56 3.344 2.183 3.69.381.208.866.312 1.455.312h1.04Z'/%3e%3cpath fill='%23#{$color-value}' fill-rule='evenodd' d='M115.994 11.228c-1.192.623-2.723 3.15-3.316 5.703v-3.69a9.311 9.311 0 0 1 1.482-2.273c1.628-1.698 3.457-2.131 5.605-2.131h12.892v1.3h-3.171l6.29 14.502 5.666-14.503h-3.899v-1.3h8.057c0 .174-.017.347-.052.52-.069.52-.485.78-1.247.78-.555.07-1.127.572-1.716 1.508l-7.797 20.22-3.1 6.928c-2.202 7.604 1.901 7.604 2.852 10.456.95 2.851-1.164 4.752-3.802 4.752-3.802 0-5.703-2.852-4.753-6.654.951-3.801 3.802-8.554 3.802-8.554l2.974-6.512-10.136-22.144h-2.86c-1.384 0-2.334.141-3.771 1.092Z' clip-rule='evenodd'/%3e%3c/svg%3e",
    "eye": "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' viewBox='0 0 18 18'%3e%3cpath stroke='%23#{$color-value}' stroke-linecap='round' stroke-linejoin='round' d='M9 5C3 5 2 9 2 9s1 4 7 4 7-4 7-4-1-4-7-4Z'/%3e%3cpath fill='%23#{$color-value}' fill-rule='evenodd' d='M7.5 8.5a1 1 0 0 0 .911-1.412A2 2 0 0 1 11 9a2 2 0 1 1-3.912-.589.996.996 0 0 0 .412.089Z' clip-rule='evenodd'/%3e%3ccircle cx='9' cy='9' r='4' stroke='%23#{$color-value}'/%3e%3c/svg%3e",
    "eye-close": "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' viewBox='0 0 18 18'%3e%3cpath stroke='%23#{$color-value}' stroke-linecap='round' stroke-linejoin='round' d='M9 5C3 5 2 9 2 9s1 4 7 4 7-4 7-4-1-4-7-4Z'/%3e%3cpath fill='%23#{$color-value}' fill-rule='evenodd' d='M7.5 8.5a1 1 0 0 0 .911-1.412A2 2 0 0 1 11 9a2 2 0 1 1-3.912-.589.996.996 0 0 0 .412.089Z' clip-rule='evenodd'/%3e%3ccircle cx='9' cy='9' r='4' stroke='%23#{$color-value}'/%3e%3cpath stroke='%23#{$color-value}' stroke-linecap='round' stroke-linejoin='round' d='M2 16 16 2'/%3e%3c/svg%3e",
    // "": "",
  ) !global;

  @return map-get($icon-list, $name);
}
$white-list: ();

@mixin icon-custom($size) {
  width: $size + px;
  height: $size + px;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background: icon(transparent) no-repeat center center;
  background-size: contain;

  &.icon--disabled {
    opacity: 0.4;
  }
  &.icon--escape {
    width: auto;
    height: auto;
  }

  &.small {
    width: 18px;
    height: 18px;
  }
  &.large {
    width: 36px;
    height: 36px
  }
  &.xl {
    width: 48px;
    height: 48px;
  }

  @each $key, $value in $icon-list {
    &.#{$key} {
      @if $value == transparent {
        background-image: unset;
      } @else {
        background-image: url($value);
        
        @if list.index($white-list, $key) {
          &.white { background-image: url(#{icon($key, #ffffff)}); }
        }
      }
    }
  }
}

button {

  &:disabled {

    .icon {
      opacity: 0.4;
    }
  }
}